# 03 Titanic

![Titanic](https://pmcvariety.files.wordpress.com/2017/04/titanic.jpg?w=1000&h=563&crop=1)

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

## Tab separated values

In [2]:
#titanic = pd.read_csv("titanic.txt", sep='\t')
titanic = pd.read_csv("https://raw.githubusercontent.com/adaapp/dav-introductionToPandas/master/titanic.txt", sep='\t')
titanic.head()

NameError: ignored

## Setting ordinal categories

In [0]:
titanic.Class = pd.Categorical(titanic.Class, categories=["Crew","3","2","1"])

## Seaborn's catplot

In [0]:
sns.catplot(data=titanic, x="Sex", hue="Class", kind='count', col="Survived");

In [0]:
from scipy import stats

## A non-parametric test

In [0]:
stats.mannwhitneyu(titanic.loc[titanic.Survived == "Alive"].Paid.dropna(),
                  titanic.loc[titanic.Survived == "Dead"].Paid.dropna(), alternative='greater')